## Problem Statement

Write a solution to report the **first name**, **last name**, **city**, and **state** of each person in the `Person` table. If the address of a `personId` is not present in the `Address` table, report `NULL` instead.

The result table can be returned in any order.

---

## Example

### **Input:**

#### **Person table:**
| personId | lastName | firstName |
|----------|----------|-----------|
| 1        | Wang     | Allen     |
| 2        | Alice    | Bob       |

#### **Address table:**
| addressId | personId | city          | state      |
|-----------|----------|---------------|------------|
| 1         | 2        | New York City | New York   |
| 2         | 3        | Leetcode      | California |

---

### **Output:**
| firstName | lastName | city          | state    |
|-----------|----------|---------------|----------|
| Allen     | Wang     | NULL          | NULL     |
| Bob       | Alice    | New York City | New York |

---

### **Explanation:**
- There is **no address** in the `Address` table for `personId = 1`, so we return `NULL` for their `city` and `state`.
- `addressId = 1` contains information about the address of `personId = 2`, so we include that data in the output.

In [2]:
import pandas as pd

def combine_two_tables(person: pd.DataFrame, address: pd.DataFrame) -> pd.DataFrame:
  
    merged_df = pd.merge(person, address, on='personId', how='left')

    return merged_df[['firstName', 'lastName', 'city', 'state']]


person_data = {
    'personId': [1, 2],
    'lastName': ['Wang', 'Alice'],
    'firstName': ['Allen', 'Bob']
}

address_data = {
    'addressId': [1, 2],
    'personId': [2, 3],
    'city': ['New York City', 'Leetcode'],
    'state': ['New York', 'California']
}

person_df = pd.DataFrame(person_data)
address_df = pd.DataFrame(address_data)

result_df = combine_two_tables(person_df, address_df)

print(result_df.head())

  firstName lastName           city     state
0     Allen     Wang            NaN       NaN
1       Bob    Alice  New York City  New York