## Table: Person

| Column Name | Type    |
|-------------|---------|
| id          | int     |
| email       | varchar |

- id is the primary key (column with unique values) for this table.
- Each row of this table contains an email. The emails will not contain uppercase letters.
 

- Write a solution to report all the duplicate emails. Note that it's guaranteed that the email field is not NULL.

- Return the result table in any order.

- The result format is in the following example.

 

### Example 1:

#### Input: 
#### Person table:

| id | email   |
|----|---------|
| 1  | a@b.com |
| 2  | c@d.com |
| 3  | a@b.com |

#### Output: 

| Email   |
|---------|
| a@b.com |

Explanation: a@b.com is repeated two times.

In [13]:
import pandas as pd
person = {
    'id': [1, 2,3],
    'email': ['a@b.com', 'c@d.com','a@b.com']
}

df=pd.DataFrame(person)
df

def duplicate_emails(person: pd.DataFrame) -> pd.DataFrame:
    duplicates = person[person["email"].duplicated(keep=False)]
    repeated_emails = duplicates["email"].value_counts()
    repeated_emails = repeated_emails[repeated_emails > 1].index.tolist()

    result_df = pd.DataFrame({"Email": repeated_emails})
    return result_df


print(duplicate_emails(df))
duplicate_emails(df)

     Email
0  a@b.com

     Email
0  a@b.com