Table: Customer

| Column Name | Type    |
|-------------|---------|
| id          | int     |
| name        | varchar |
| referee_id  | int     |

In SQL, id is the primary key column for this table.
Each row of this table indicates the id of a customer, their name, and the id of the customer who referred them.
 

Find the names of the customer that are not referred by the customer with id = 2.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Customer table:

| id | name | referee_id |
|----|------|------------|
| 1  | Will | null       |
| 2  | Jane | null       |
| 3  | Alex | 2          |
| 4  | Bill | null       |
| 5  | Zack | 1          |
| 6  | Mark | 2          |

Output: 

| name |
|------|
| Will |
| Jane |
| Bill |
| Zack |

In [1]:
import pandas as pd
import numpy as np

data = {
    "id":[1,2,3,4,5,6],
    "name":["Will","Jane","Alex","Bill","Zack","Mark"],
    "referee_id":[np.nan,np.nan,2,np.nan,1,2]
}

customer=pd.DataFrame(data)
customer

   id  name  referee_id
0   1  Will         NaN
1   2  Jane         NaN
2   3  Alex         2.0
3   4  Bill         NaN
4   5  Zack         1.0
5   6  Mark         2.0

In [2]:
def find_customer_referee(customer: pd.DataFrame) -> pd.DataFrame:

    result = customer[customer["referee_id"] != 2][["name"]]
    return result

find_customer_referee(customer)

   name
0  Will
1  Jane
3  Bill
4  Zack