Table: Orders

| Column Name     | Type     |
|-----------------|----------|
| order_number    | int      |
| customer_number | int      |

order_number is the primary key (column with unique values) for this table.
This table contains information about the order ID and the customer ID.
 



### Problem :
- **Write a solution to find the customer_number for the customer who has placed the largest number of orders.**

- **The test cases are generated so that exactly one customer will have placed more orders than any other customer.**

- **The result format is in the following example.**

 

Example 1:

Input: 
Orders table:

| order_number | customer_number |
|--------------|-----------------|
| 1            | 1               |
| 2            | 2               |
| 3            | 3               |
| 4            | 3               |

Output: 

| customer_number |
|-----------------|
| 3               |

Explanation: 
The customer with number 3 has two orders, which is greater than either customer 1 or 2 because each of them only has one order. 
So the result is customer_number 3.

In [ ]:
import pandas as pd

data = {
    "order_number":[1,2,3,4],
    "customer_number":[1,2,3,3]
}

orders=pd.DataFrame(data)
orders

   order_number  customer_number
0             1                1
1             2                2
2             3                3
3             4                3

In [2]:
def largest_orders(orders: pd.DataFrame) -> pd.DataFrame:
    
    order_counts = orders.groupby("customer_number")["order_number"].count().reset_index()
    max_orders = order_counts[order_counts["order_number"] == order_counts["order_number"].max()]

    return max_orders[["customer_number"]]

largest_orders(orders)

   customer_number
2                3